<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Configurador coche</title>
    <link rel="stylesheet" th:href="@{/css/styleCoche.css}">
</head>
<body>
    <form method="post" th:object="${configuradorDTO}" th:action="@{/configurador/interior/enviar}" >

        <label for="color">Color:</label>
        <select id="color" th:field="*{color}">
            <option value="" disabled selected>Selecciona color</option>
            <option value="negro"> Negro</option>
            <option value="blanco">Blanco</option>
            <option value="berenjena">Berenjena</option>
        </select>

        <label for="material">Material:</label>
        <select id="material" th:field="*{material}">
            <option value="" disabled selected>Selecciona material</option>
            <option value="madera"> Madera</option>
            <option value="carbono">Carbono</option>
            </select>

        <button type="submit">Enviar</button>

    </form>

    <div class="coche" th:if="${color}">
        <img th:src="${coche}">
    </div>


</body>
</html>