<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Heladeria</title>
    <link rel="stylesheet" th:href="@{/css/styleHelado.css}" />
</head>
<body>
    <form method="post" th:object="${heladoDTO}" th:action="@{/helado}">

        <div class="c">
            <img th:src="@{/img/fre.png}">
            <label for="frs">Fresa<input type="number" id="frs" th:field="*{porcentajeFresa}">%</label>
        </div>
        <div class="f">
            <img th:src="@{/img/choco.png}">
            <label for="cho">Chocolate<input type="number" id="cho" th:field="*{porcentajeChoco}">%</label>
        </div>

        <div class="v">
            <img th:src="@{/img/vaini.png}">
            <label for="vai">Vainilla<input type="number" id="vai" th:field="*{porcentajeVainilla}">%</label>
        </div>

        <button type="submit">Preparar Helado</button>
    </form>

    <div class="tarrina">
        <div th:if="${choco != '0'}" class="choco"  th:style="${'height:' +choco+'px'}"><span  th:text="${'Chocolate '+choco+'%'}"></span></div>
        <div th:if="${fresa != '0'}" class="fresa" th:style="${'height:' +fresa+'px'}"><span  th:text="${'Fresa '+fresa+'%'}" ></span></div>
        <div th:if="${vainilla != '0'}" class="vainilla"  th:style="${'height:' +vainilla+'px'}"><span  th:text="${'Vainilla '+vainilla+'%'}"
        ></span></div>

    </div>
</body>
</html>